 /* Navigation Bar */
 body{
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
 }
 
 
 
 
 .navbar {
    height: 100px;
    background-color: #00bfff; /* Change the background color */
    padding: 1em 2em; /* Add padding */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* Add a shadow */
  }

  /* Navigation Links */
  .navbar a {
    color: white; /* Change the text color */
    font-weight: bold; /* Make the text bold */
    text-transform: uppercase; /* Change to uppercase */
    padding: .5em; /* Add padding */
    margin: 0 .5em; /* Add margin */
    transition: all 0.2s ease-in-out; /* Add a transition effect */
  }

  /* Navigation Links :hover */
  .navbar a:hover {
    background-color: #008080; /* Change the background color on hover */
  }

  /* Navigation Brand */
  .navbar-brand {
    font-size: 1.5em; /* Increase the font size */
    font-weight: bold; /* Make the text bold */
    color: white; /* Change the text color */
  }



/* .pic{
  height: 500px;
  margin-bottom: 500px;
} */


  
  .col-sm-6>img{

    height: 300px;
    width: 100%;
    padding: 10px;
  }

 

 .img{
      height: 70px;
      width: 90px;
  }

  .app-img{
    height: 300px;
    width: 100%;
  }


  .row{

   row-gap: 30px;
   
  }
  

  .m{
    height: 200px;
    width: 100%;
  }

  .book{
    display: flex;
    flex-wrap: wrap;
  }

  .iframe{
    padding: 40px;
  }